@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Poppins", Courier, monospace;
    margin: 10px;
}

.website-title {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

main {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
}

.search-bar-container{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.search-button{
    cursor: pointer;
    color: white;
    border-radius: 5px;
    max-width: fit-content;
    padding: 5px;
    background-color: #24a0ed;
}

.year-filter-container,
.car-color-filter-container,
.car-price-filter-container,
.max-mileage-filter-container,
.make-filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 2px;
    border-radius: 5px;
    padding: 10px;
}

.side-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-panel-title {
    font-size: x-large;
}

.year-min-max-container,
.car-price-min-max-container {
    display: flex;
    gap: 5px;
}

.car-year-label,
.year-min-label,
.year-max-label,
.make-label,
.max-mileage-label,
.car-price-label,
.car-price-min-label,
.car-price-max-label,
.car-color-label,
.side-panel-title {
    display: flex;
    justify-content: center;
}

.submit-button{
    cursor: pointer;
    color: white;
    border-radius: 5px;
    max-width: fit-content;
    padding: 5px;
    background-color: #24a0ed;
}

/* MAIN DISPLAY */
.car-main-display-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.car-main-display-title {
    font-size: x-large;
}

.car-main-display {
    border: solid black 2px;
    height: 100%;
    width: 30em;
    border-radius: 5px;

    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 5px;
    row-gap: 5px;
    /* text-align: center; */

}